<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SistemaReservas"
             connectionString="Data Source=DESKTOP-CPAUQ69\SQLEXPRESS;Initial Catalog=SistemaReservasLaboratorio;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>